    <footer id="footer" class="bg-dark">
        <hr id="hr-footer">      
        <div id="footer-container" class="text-white">
            <div id="trademark">
                <span class="ml-5 item">2021 Aegis Parking</span> 
            </div>
            <div id="footer-nav">
                <a href="/"><span class="item1">Home</span></a>
                <a href="/login"><span class="item1">Admin Login</span></a>
                <a href="/contact""><span class="item1">Contact Us</span></a>
            </div>
        </div> 
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>