    <footer id="footer" class="bg-dark">
        <hr id="hr-footer">      
        <div class="text-right text-white row">
            <div class="col-md-6 text-left">
                <span class="ml-5">2020 Guest Parking.net</span>
            </div>
            <div class="col-md-6 text-white text-right">
                <a href="/"><span class="mr-5">Home</span></a>
                <a href="/login"><span class="mr-5">Admin Login</span></a>
                <a href="/contact"><span class="mr-5">Contact Us</span></a>
            </div>
        </div> 
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>