<% include partials/header %>

<div class="container">
    <h3 class="my-4">WELCOME TO GUESTPARKING.NET</h3>
    <p>We are your easy cloud based Virtual Guest Parking Attendant</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
                <div class="card bg-secondary">
                        <img class="img-responsive home-imgs" src="https://images.unsplash.com/photo-1515263487990-61b07816b324?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
                        <h4 class="pt-3">Find your <strong>Guest Parking</strong> spot now.</h4>
                        <a href="/parking" class="btn btn-primary mx-5 my-3">FIND A GUEST PARKING SPOT NOW</a>
                </div>
        </div>
        <div class="col-md-6">
                <div class="card bg-secondary">
                        <img class="img-responsive home-imgs" src="https://images.unsplash.com/photo-1465804575741-338df8554e02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80">
                        <h4 class="pt-3">I am a manager of <strong>Properties.</strong></h4>
                        <a href="/admin" class="btn btn-primary mx-5 my-3">MANAGE MY PROPERTY</a>
                </div>
        </div>
    </div>
    <p id="violation-subtext" class="pt-5">*Need to report a Guest Parking vehicle in violation. Please <a href="#">CLICK HERE!</a></p>
</div>

<% include partials/footer %>