<% include partials/header %>

<div class="container">
    <div id="register-form" class="card bg-primary text-white p-5 mt-5">
        <h3>GUEST PARKING VERIFICATION</h3>
        <p>Welcome, please enter your tenants 4 digit pin to acees their <strong>Guest Parking</strong> portal.</p>
        <form action="/parking" method="POST">
            <p class="float-left">Tenant 4 Digit Parking Access Pin:</p>
            <input class="form-control" type="text" name="code">
            <button class="form-control btn btn-lg btn-success mt-4">Submit</button>
        </form>
    </div>
    <p id="violation-subtext" class="pt-5">*Use code 3333 if you would like to do a test vehicle registration.*</p>
</div>

<% include partials/footer %>