<% include partials/header %>

<div class="container">
    <div id="show-div" class="card bg-primary text-white p-5 mt-5">
        <h3>Welcome to <%= property.name %></h3>
        <p>Please select from the buttons below to <strong>Register a vehicle</strong> or <strong>Extend a Current Registration.</strong></p>
        <a href="/parking/<%= property._id %>/register" class="btn btn-success">REGISTER MY VEHICLE</a>
        <a class="btn btn-danger mt-3">EXTEND MY CURRENT REGISTRATION</a>
    </div>
</div>

<% include partials/footer %>