a {
    color: inherit;
    text-decoration: none;
}

a:hover 
{
     color: #007bff; 
     text-decoration:none; 
     cursor:pointer;  
}

.container {
    text-align: center;
}

.home-imgs {
    width: 100%;
    height: 100%;
    max-height: 450px;
    max-width: 600px;
}

.card {
    color: white;
}

.fa-check-circle {
    color: Dodgerblue;
}

.fa-times-circle {
    color: red;
}

.fa-plus-circle {
    color: green;
}

#text-margin {
    margin-left: 7em;
}

#hr-success {
    width: 67%;
    margin-right: 30%;
}

#hr-footer {
    border-bottom: solid 2px;
    color: rgb(138, 138, 138);
    width: 97.5%;
    margin-right: 2.5%;
    padding-top: 40px;
}

#footer {
    margin-top: 10%;
    height: 140px;
}

#registrationForm {
    margin: auto;
    max-width: 800px;
    width: 100%;
}

#show-div {
    margin: auto;
    max-width: 800px;
    width: 100%;
}

#success-div {
    margin: auto;
    max-width: 700px;
    width: 100%;
}

#property-list {
    padding-inline-start: 0;
}

#register-form {
    color: black;
    margin: auto;
    max-width: 600px;
    max-height: 600px;
    height: 100%;
    width: 100%;
}

#stripe {
    height: 30px;
    background-color: dodgerblue;
}

#violation-subtext {
    color: red;
}